
.image-topo{
    width: 100%;
    height: 48px;
    text-align: center;
    padding: 10px 0px;
    background-color: #ffc800;
    font-size: 15px;
   
}
.image-logo{
    margin: 0px;
    padding: 0px;
}

.d-flex{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: flex;
}

.nav-item{
    padding: 28px 0px;
}

.navbar{
    margin: 0px;
    padding: 0px;
    height: 6px;
}

.inicial-link{
    margin: 0px 0px 0px 60px;
}

.nav-item a{
    font-size: 18px;
    color: rgb(17, 0, 0);
    padding: 10px;
    margin: 10px 0px 0px 0px;
}

.nav img{
    width: 10px;
    height: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
}

.btn-danger{
    background-color: #f16984;
    height:50px;
    width: 140px;
    margin: 40px 0px;
}


/*---begin footer---*/

footer {
    background-color: #ececec;
    border-top: 10px solid #006172;
    padding: 20px 20px 50px;
    color: #8d8178;
}

footer .info {
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
    padding: 0;
}

.title {
    color: #006172;
    font-weight: bold;
    margin-bottom:10px
}

@media (min-width: 1404px) {
    
    .inicial-link{
        margin: 0px 0px 0px 200px;
    }
    
}

@media (max-width: 1184px){
    .inicial-link{
        margin: 0px 0px 0px 0px;
        font-size: 10px;
    }

    .btn-danger{
       display: none;
    }

}
